.code-box-demo .ant-row-flex>div {
    padding: 5px 0;
    text-align: center;
    border-radius: 0;
    min-height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
}

.code-box-demo .ant-row-flex>div {
    background: #00a0e9;
    padding: 16px 0;
}

.code-box-demo .height-80 {
    height: 80px;
    line-height: 80px;
}

.code-box-demo .ant-row>div {
    padding: 5px 0;
    text-align: center;
    border-radius: 0;
    min-height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
}

.gutter-box {
    background: #00A0E9;
    padding: 5px 0;
    height: 80px;
    line-height: 80px;
}