<nz-layout class="layout">
    <app-header></app-header>
    <nz-content style="padding:0 50px;">
        <nz-breadcrumb style="margin:12px 0;">
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>List</nz-breadcrumb-item>
            <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="code-box-demo" style="background:#fff; padding: 24px; min-height: 280px;">
        <div class="gutter-example">
            <div nz-row [nzGutter]="8">
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
        
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6" [nzXs]='12' [nzSm]='8' [nzMd]='6' [nzLg]='4'>
                    <div class="gutter-box">col-6</div>
                </div>
            </div>
        </div>
            
        </div>
    </nz-content>
    <app-footer>Footer</app-footer>
</nz-layout>